In [2]:
data_file=open("yhj_data/text_data_write.txt",'w',encoding='utf-8-sig')
data_file.write('안녕하세요')
data_file.write('HyeonJuYou입니다.')
data_file.close()

In [5]:
data_file=open("yhj_data/text_data_write.txt",'a',encoding='utf-8-sig')
data_file.write('옴마야')
data_file.write('응애응애')
data_file.close()

In [3]:
import pandas as pd
seriesdata = pd.Series([70,60,90])
seriesdata

0    70
1    60
2    90
dtype: int64

In [31]:
seriesdata = pd.Series([70,60,90],index=['국어','영어','수학'])
seriesdata

국어    70
영어    60
수학    90
dtype: int64

In [34]:
seriesdata.index=['미술','음악','체육']

In [35]:
seriesdata.index

Index(['미술', '음악', '체육'], dtype='object')

In [37]:
print(seriesdata['미술'],seriesdata[0])
seriesdata['미술']=80
print(seriesdata['미술'],seriesdata[0])

80 80
80 80

In [41]:
del seriesdata['미술']

KeyError: '미술'

In [100]:
df = pd.DataFrame({
    "미국":[2.1,2.2,2.3],
    "한국":[0.4,0.55,0.44],
    "중국":[10,13,15]},
    index=[2000,2010,2020]
)
df

       미국    한국  중국
2000  2.1  0.40  10
2010  2.2  0.55  13
2020  2.3  0.44  15

In [53]:
df.index=[2001,2002,2003]

In [101]:
df

       미국    한국  중국
2000  2.1  0.40  10
2010  2.2  0.55  13
2020  2.3  0.44  15

In [58]:
df.columns

Index(['미국', '한국', '중국'], dtype='object')

In [61]:
df.values

array([[ 2.1 ,  0.4 , 10.  ],
       [ 2.2 ,  0.55, 13.  ],
       [ 2.3 ,  0.44, 15.  ]])

In [4]:
df = pd.DataFrame({
    "미국":[2.1,2.2,2.3],
    "한국":[0.4,0.55,0.44],
    "중국":[10,13,15],
    "년도":[2000,2010,2020]
})
df

    미국    한국  중국    년도
0  2.1  0.40  10  2000
1  2.2  0.55  13  2010
2  2.3  0.44  15  2020

In [5]:
df=df.set_index('년도')

In [92]:
df=df.reset_index

In [6]:
df['미국']

년도
2000    2.1
2010    2.2
2020    2.3
Name: 미국, dtype: float64

In [7]:
df.loc[2020]

미국     2.30
한국     0.44
중국    15.00
Name: 2020, dtype: float64

In [13]:
df2= df[['중국','한국','미국']].copy()

In [15]:
df2

      중국    한국   미국
년도
2000  10  0.40  2.1
2010  13  0.55  2.2
2020  15  0.44  2.3

In [17]:
df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.55  13
2020  2.3  0.44  15

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices