In [19]:
import pandas as pd
PATH="cov-19/csse_covid_19_daily_reports/"
doc=pd.read_csv(PATH+"03-01-2020.csv",encoding='utf-8-sig')
doc.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [34]:
doc = pd.read_csv(PATH+"03-01-2020.csv",encoding='utf-8-sig')
try:
    doc= doc[['Province_State','Country_Region','Confirmed']]
except:
    doc = doc[['Province/State','Country/Region','Confirmed']]
    doc.columns=['Province_State','Country/Region','Confirmed']
doc.head()

  Province_State  Country/Region  Confirmed
0          Hubei  Mainland China      66907
1            NaN     South Korea       3736
2            NaN           Italy       1694
3      Guangdong  Mainland China       1349
4          Henan  Mainland China       1272

In [35]:
doc = pd.read_csv(PATH+"03-01-2020.csv",encoding='utf-8-sig')
try:
    doc=doc[['Province_State','Country_Region','Confirmed']]
except:
    doc=doc[['Province/State','Country/Region','Confirmed']]
    doc.columns=['Province_State','Contry_Region','Confirmed']
doc= doc.dropna(subset=['Confirmed'])
doc= doc.astype({'Confirmed':'int64'})
doc.head()

  Province_State   Contry_Region  Confirmed
0          Hubei  Mainland China      66907
1            NaN     South Korea       3736
2            NaN           Italy       1694
3      Guangdong  Mainland China       1349
4          Henan  Mainland China       1272

In [14]:
country_info=pd.read_csv("cov-19/UID_ISO_FIPS_LookUp_Table.csv",encoding='utf-8-sig')
country_info.head()

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [42]:
test_df=pd.merge(doc,country_info,on='Country_Region',how='left')
test_df.info()

KeyError: 'Country_Region'

In [20]:
test_df.isnull().sum()

NameError: name 'test_df' is not defined

In [37]:
nan_rows=test_df[test_df['iso2'].isnull()]
nan_rows.head()

NameError: name 'test_df' is not defined

# 컬럼값 변경하기
- Country_Region국가명이 다양한 경우가 많았음
- 각 케이스를 일괄적으로 변경할 키값이 존재하지 않고, 키가 될 수 있는 컬럼도 다양하고, 각파일마다 키가 될 수 있는 컬럼이 변경되어 키값으로 매칭이 불가하였음
- 이에 각 케이스를 직접 확인해서, 국가명을 일관되게 변경할 수 있도록 별도 json 파일 작성
- json 파일 기반으로 국가명을 일관되게 변경하기로 함

In [41]:
import json
with open('cov-19/country_convert.json','r',encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print(json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

In [43]:
df = pd.DataFrame({
    '영어': [60,70],
    '수학': [100,50]
},index = ['Dave','David'])
df

       영어   수학
Dave   60  100
David  70   50

In [44]:
def func(df_data):
    print(type(df_data))
    print(df_data.index)
    print(df_data.values)
    return df_data